<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <title></title>
</head>

<body>
  <div class="box" id="heading">
    <h1> <%=todayIs %> </h1>
  </div>

  <div class="box">
      <% for(let i=0; i<newli.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p> <%=newli[i]%> </p>
      </div>
      <% } %>
      <!-- form send post request to the home route and the value send is the input of name="data" atleast in these case  -->
      <form class="" action="/" method="post">
        <input type="text" name="data" placeholder="write text here" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
  </div>




</body>

</html>
