<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="text-align:center;">
  <h1> <%=todayIs %> </h1>
  
  <ul style="list-style-type: none;">

   <% for(let i=0; i<newli.length; i++){ %>
        <li> <%=newli[i]%> </li>
    <% } %>

    </ul>

      <!-- form send post request to the home route and the value send is the input of name="data" atleast in these case  -->
    <form class="" action="/" method="post">
      <input type="text" name="data" placeholder="write text here">
      <button type="submit" name="button">add</button>
    </form>

  </body>
</html>
